<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://marvel.com/">
                <span>MarvelLand</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" ng-view>
            <ul class="nav navbar-nav">
                <li><a ui-sref="main">Accueil</a></li>
                <li><a ui-sref="products">BD</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a ui-sref="cart" id="panier">Panier</a></li>
                <!--<li><a ui-sref="panier" class="articlenumber">{{nbrarticle}}</a></li>-->
            </ul>
        </div>
    </div>
</nav>
