<div class="container" ng-app='marvelShop''>
	<div>
		<acme-navbar creation-date="main.creationDate" class="acme-navbar-text " ></acme-navbar>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-5">
			<h1>Votre panier</h1>
		</div>
		<div class="col-md-4" id="tableproducts">
			<div class="sort">
				<label>Trier par</label>
				<button ng-click="sortBy= '-id'">Id</button>
				<button ng-click="sortBy='-quantity'">Quantité</button>
			</div>
		</div>
	</div>
		<table class="col-md-12">
			<thead>
				<tr class="well">
					<td class="col-md-4" id="tdLeft"> Produit</td>
					<td class="col-md-4" id="tdCenter">Quantite</td>
					<td class="col-md-4" id="tdRight">Prix</td>
				</tr>
			</thead>
			<tbody ng-repeat="product in cart.tableau | orderBy :sortBy">
				<tr class="singleinformation" class="col-md-4">
					<td id="tdLeft">
						<a ui-sref="description({id:product.id})">
							{{product.title}}
						</a>
					</td>
					<td id="tdCenter">
						<button ng-click="cart.addToCart(product.id,product.prices[0].price,1,product.title)">
							+
						</button>  
						{{product.quantity}}  
						<button ng-click="cart.delQuantityToCart(product.id)">
							-
						</button>
					</td>
					<td id="tdRight">
						{{product.price}}$ <!--{{products.price * products.quantity}}-->
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="well">
					<td class="col-md-4" id="tdLeft">Total</td>
					<td class="col-md-4" id="tdCenter">{{cart.cartService.getQuantityTotalCart()}}</td>
					<td class="col-md-4" id="tdRight">{{cart.cartService.getPriceTotalCart()}}$</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="row">
		<button ui-sref="products" class="col-md-2 col-md-offset-4" id="back">Retour au achat</button>
		<input type="reset" name="resetbutton" ng-click ="cart.clearTableau()" value="Supprimer le panier" class="col-md-3" id="reset">
	</div>
</div>