<div class="container">
	<div>
		<acme-navbar></acme-navbar>
	</div>
	<div class="col-md-4 col-md-offset-5">
		<h1>
			BD Marvel 
		</h1>
	</div>
	<div class="bdPresentation">
		<div class="row">
			<label class="col-md-12">
				Rechercher par Nom: 
				<input ng-model="products.searchT">
				<button  ng-click="products.search(products.searchT)">
					Recherche
				</button>
			</label>
			<div class="col-md-6" id="bdPres" ng-repeat="blanketbd in products.reponseData.data.results">
				<product-directive id="blanketbd.id" img="blanketbd.images[0].path" title="blanketbd.title" creators="blanketbd.creators.items" description="blanketbd.description" price="blanketbd.prices[0].price"></product-directive>
			</div>
		</div>
	</div>
	<div class="pagination-area">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="pagination">
					<li class="paginationli" ng-repeat="page in products.getNumber(products.nbrPage) | limitTo: products.maxPages  track by $index " ng-click="products.gotoPage($index)">
						<span class="active">
							{{$index +1}}
						</span>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>