.addCart{
	margin-top: 10%;
	padding: 1% 10%;
}

#bdPres{
	list-style: none; 
	margin-top: 10%;
}

.pagination{
	margin-left: 6%;
}

.creator{
	margin-right: 3%;
	color: black; 
	padding-top: 5%;
}

.titlebd{
	font-size: 23px;
}

.price{
	margin-left: 3%;
	font-size: 25px;
	color: #990000;
}

.col-md-6{
	text-align: center;
}

.col-md-6 .productsimage{
	width: 30%;
}

.paginationli{
	font-size: 14px;
}

.delCart{
	padding: 1% 7%;
	margin-top: 2%;
	font-size: 20px;
}

.productsdescription{
	width: 50%;
	margin-left: 25%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

