<div class="container">
	<div>
		<acme-navbar></acme-navbar>
	</div>

	<div class="col-md-4 col-md-offset-5">
		<h1>
			BD Marvel 
		</h1>
	</div>

	<div class="bdPresentation">
		<div class="row">
			<label class="col-md-12" >Search: <input ng-model="onepage.searchT"></label>
			<div>
				<li class="col-md-6" id="bdPres" ng-repeat="blanketbd in onepage.cData.data.results | filter: onepage.searchT">
					<a ui-sref="description({id:blanketbd.id})" ><img class="productsimage" ng-src="{{blanketbd.images[0].path}}/portrait_xlarge.jpg" > <br/>
					<span class="titlebd">{{blanketbd.title}}<br/></a></span> 
					<div class="productscreator">
						<span ng-repeat="creator in blanketbd.creators.items" class="creator">{{creator.name}}</span><br/>
					</div>
					<p class="productsdescription">{{blanketbd.description}}</p>
					<span class="price">{{blanketbd.prices[0].price}}$ <br/></span>
					<button class="addCart" ng-click="onepage.addCart(blanketbd.id,blanketbd.prices[0].price,1)">Ajouter au panier</button><br/>
					<button class="delCart" ng-click="onepage.delCart(blanketbd.id,onepage.quantity,blanketbd.prices[0].price)">Supprimer du panier</button> 
				</li>
			</div>
		</div>
	</div>

	<div class="pagination-area">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="pagination">
					<li class="paginationli" ng-repeat="page in onepage.getNumber(onepage.nbrpage) | limitTo: onepage.maxPages  track by $index " ng-click='onepage.gotoPage($index)'>
						<span class="active">{{$index +1}}</span>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>